{%extends 'all-gram/base.html'%}
{% load bootstrap3 %}

{% block content %}
{{block.super}}
<div class="container">

    <div class="row">
        
    {% for new_item in new %}

    <div class="col-sm-12 col-md-12">
        <br>
        <div class="card" style="width: 700px;">
            <div class="card-header blue-text">{{new_item.profile}}</div>
            
                <img class="card-img-top" src="{{new_item.post_image.url}}" class="img-responsive" alt="Image" style="width: 700px; height: 600px;">
        </div>
    </div>
    {% endfor %}
    </div>
</div>
<br>
    <!-- Footer -->
    <footer class="page-footer font-small special-color-dark pt-4">

        <!-- Footer Elements -->
        <div class="container">
    
        <!--Grid row-->
        <div class="row">
    
            <!--Grid column-->
            <div class="col-md-6 mb-4">
    
            <!-- Form -->
            <form class="form-inline">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                aria-label="Search">
                <i class="fas fa-search" aria-hidden="true"></i>
            </form>
            <!-- Form -->
    
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-6 mb-4">
    
                <form  action="{%url 'welcome'%}" method="post">
                    {%csrf_token%}
                
                    {% bootstrap_form letterForm layout='inline' %}
                    <input type="submit" value="Subscribe">
                </form>

            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
        </div>
        <!-- Footer Elements -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    
    </footer>
    <!-- Footer -->



{% endblock %}
