{% load static %}
 <nav class="navbar navbar-expand-lg navbar-dark" style="color: white;">
            <a class="navbar-brand" href="{% url 'welcome' %}">
            <img alt="Brand" src="{% static 'img/navbar.png' %}" width=24 height=24>
            </a>
            <a class="navbar-brand bar-pipe"><a>
            
            <a class="navbar-brand instagramlogo" href="{% url 'welcome' %}">
                <img alt="Brand" src="{% static 'img/brand.png' %}" height=40 >
            </a>
            <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon default-color-dark"></span>
            </button>
            
            
            <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-lg-0">
                

                
                </ul>
            
            <div class="col-sm-6 col-md-6 navbar-right" >

                <form style="margin-top: 20px;" class="form-inline" role="search" action="{% url 'search_results'%}">
        
                <div class="md-form mt-0" >
                    <input type="text" class="form-control" style="color: black;" placeholder="Search" name="user" aria-label="search">
                    <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
                    </div>
                </form>
                </div>
                <div  class="col-md-2 col-lg-2">
                    <ul class="nav navbar-nav navbar-right" style="font-size: 30px; color: black; ">
                        <li><a style="color: black;" href="#"><span class="fas fa-compass hoverable"></span></a></li>
                        <li><a style="margin-left: 50px; color: black;" href="{% url 'new-post'%}"><span class="fas fa-heart hoverable"></span></a></li>
                        <li><a style="margin-left: 50px; color: black;" href="{% url 'profile' %}"><span class="fas fa-user hoverable"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
</nav>
